<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zearh Visit Invoice</title>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            border: 1px solid #0f0f11;
            font-size: 16px;
            line-height: 24px;
            font-family: sans-serif;
            color: #555;
            overflow: auto;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 2px 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        /*.invoice-box table tr.top table td {
            padding-bottom: 20px;
        }*/

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        /*.invoice-box table tr.information table td {
            padding-bottom: 40px;
        }*/
        .invoice-box table tr.information {
            margin-bottom: 8px;
        }

        .invoice-box table tr.information td {
            padding-top: 0;
            padding-bottom: 0;
        }

        .invoice-box table tr.heading td {
            background: #1591b1;
            font-weight: bold;
            font-size: 16px;
            line-height: 26px;
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.heading td,
        .invoice-box table tr.item td {
            padding-left: 20px;
            padding-right: 20px;
        }

        .invoice-box table tr.total-item td,
        .invoice-box table tr.total td {
            padding-left: 20px;
            border-bottom: 1px solid #eee;
            padding-right: 20px;
        }

        .invoice-box table tr.total-item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.total-item.first td {
            margin-top: 18px;
            border-bottom: 1px solid #eee;
        }


        .invoice-box table tr.total td {
            background-color: #1591b1;

        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        /*.invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }*/

        @media only screen and (max-width: 575px) {
            .invoice-box {
                padding: 15px !important;
                /*min-width: 500px !important;*/
            }

            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                margin: 0 !important;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                margin: 0 !important;
            }

            .invoice-box.rtl table tr.top table td,
            .invoice-box.rtl table tr.information table td {
                text-align: right !important;
                padding: 0 !important;
            }

            .invoice-box table tr.top table td,
            .invoice-box table tr.information table td {
                text-align: left !important;
                padding: 0 !important;
            }

            .invoice-box table tr.heading,
            .invoice-box table tr.item,
            .invoice-box table tr.total-item,
            .invoice-box table tr.total {
                overflow: hidden;
                display: inline-block;
                width: 100% !important;
            }

            .invoice-box table tr.heading td,
            .invoice-box table tr.item td,
            .invoice-box table tr.total-item td,
            .invoice-box table tr.total td {
                width: 100% !important;
            }

            .invoice-box table tr.total-item.first {
                margin-top: 30px !important;
            }
        }

        /* RTL */
        .rtl {
            direction: rtl;
            font-family: sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }


        .btn{
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: white;
        }
    </style>
</head>
<body>
<div class="invoice-box">
    <table style="width: 40%;float: center;margin-top: 12px;">
        <tr style="border: 1px solid #555" >
            <div style="margin-top: 20px;">
                <a href="{{ url }}/us/forget/{{ visit }}">Forget Password</a>
            </div>
        </tr>
    </table>
</div>
</body>
</html>